/* Global styles */
body {
  background-color: #FEE7D8;
  font-family: monospace;
  font-size: 16px;
  text-align: left;
  margin: 0;
}

a {
  color: #FF857F;
  text-decoration: none !important;
}


a:hover {
  text-decoration: underline;
  color: #9C514E;
}

/* Header styles */
header {
  padding: 5px;
  padding-bottom: 20px;
  background-color: #FFF8F4;
  box-shadow: 0px 4px 18px 0px #31314914;
  font-family: monospace;
  text-align: center;
  font-size: 28px;
  border-radius: 0 0 50% 50%;
}

h1 {
  margin: 0;
  padding-top:24px;
  font-size: 32px;
  color: #FF857F;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
}

nav li {
    display: inline-block;
    margin-right: 8px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 28px;
}

li {
    margin-bottom: 10px;
    padding: 10px 32px 12px 32px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 4px 18px 0px #31314914;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  font-size: 24px;
  color: #FF857F;
  text-decoration: none !important;
}


nav a:hover {
  text-decoration: underline;
  color: #9C514E;
}


/* Main content styles */
main {
  font-size: 20px;
  /*text-align: left;*/
}

h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #9C514E;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

section {
  line-height: 28px;
  padding-top: 20px;
  padding-right: 400px;
  padding-bottom: 10px;
  padding-left: 400px;
}

/* Responsive styles */
/* mobile */
@media (max-width: 900px) {
    
    body {
        font-size: 20px;
    }


    h1 {
        font-size: 32px;
        line-height: 130%;
    }
  
    h2 {
        font-size: 24px;
        line-height: 130%;
    }

    nav li {
        display: block;
        margin-right: 0;
        margin-top: 20px;
        font-size: 24px;
        line-height: 36px;
        width: 80%;
    }

li {
    margin-bottom: 20px;
    padding: 12px 24px;
    font-size: 20px;
}

section {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
    text-align: center;
  line-height: 130%;
  width: 80%; /* set the width to 100% */
  display: flex; /* use flexbox */
  justify-content: center;
}
  
      div {
    width: 80%;
    text-align: center;
  }
  .container {
  display: flex;
  flex-direction: column;
}

  
  div:last-child {
    margin-top: 10px;
    /*margin-left: 0px;*/
    text-align: center;
  }
}
