/* Header styles */
header {
  padding: 1%;
  padding-bottom: 1.5%;
  background-color: #FFF8F4;
  box-shadow: 0px 4px 18px 0px #31314914;
  font-family: monospace;
  text-align: center;
  border-radius: 0 0 50% 50%;
}

h1 {
  margin: 0;
  padding-top: 24px;
  font-size: 36px;
  color: #FF857F;
  text-align: center;
}


h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #9C514E;
  text-align: center;
}


/* Buttons */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 8px;
    margin-top: 12px;
    line-height: 28px;
    text-align: center;
}


nav a {
  font-size: 24px;
  color: #FF857F;
  text-decoration: none !important;
}


nav a:hover {
  text-decoration: underline;
  color: #9C514E;
}


/* Global styles */
body {
  background-color: #FEE7D8;
  font-family: monospace;
  text-align: left;
  margin: 0;
}

a {
  color: #FF857F;
  text-decoration: none !important;
}


a:hover {
  text-decoration: underline;
  color: #9C514E;
}

li {
    margin-bottom: 10px;
    padding: 10px 32px 12px 32px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 4px 18px 0px #31314914;
}



/* Main content styles */
main {
  font-size: 24px;
  margin-left: 24%;
  margin-right: 24%;
  /*text-align: left;*/
  color: #313149;
  padding-top: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}


section {
  line-height: 28px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 20px;
}

.parent-container {
  display: block;
  margin: 0 auto !important;
  padding-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
   
}

.image-container{
  width: 40%;
}

 .text-container{
   margin-left: 50px; 
}  
  

/* Responsive styles */
/* mobile */
@media only screen and (max-width: 414px) {
    
    header {
      border-radius: 0 0 20% 20%;
      padding-bottom: 20px;
    }

    h1 {
        font-size: 28px;
        padding-bottom: 6px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 24px;
    }
     
    nav li {
      display: flex;
      margin-right: 20%;
      margin-left: 20%;
      margin-top: 16px;
      justify-content: center;
      
    }

    li {
      
      padding: 8px 18px;
      border-radius: 100;
    }

    nav a {
      font-size: 18px;
      
    }

    main {
      margin-left: 6%;
      margin-right: 6%;
      
    }
    
     section {
        padding-bottom: 30px;
        font-size: 18px;
        text-align: center;
        line-height: 28px;
        display: flex; /* use flexbox */
        justify-content: center; /* center horizontally */
        
        
      }
  
    .parent-container{
    display: block;
    margin:0 auto !important;
    
  }
 
  .image-container{
    display: flex; /* use flexbox */
    justify-content: center; /* center horizontally */
    flex-direction: column;
    display: block;
    margin:0;
    padding:0;
   
}

 .text-container{
   display: block; /* use flexbox */
   justify-content: center; /* center horizontally */
   flex-direction: column;
   text-align: center;
   margin: 0;
  }  

 
  img{
   height: auto;
   margin-bottom: 30px;
  }
 
}
