/* Global styles */
body {
  background-color: #FEE7D8;
  font-family: monospace;
  text-align: left;
  margin: 0;
}

a {
  color: #FF857F;
  text-decoration: none !important;
}


a:hover {
  text-decoration: underline;
  color: #9C514E;
}

/* Header styles */
header {
  padding: 5px;
  padding-bottom: 20px;
  background-color: #FFF8F4;
  box-shadow: 0px 4px 18px 0px #31314914;
  font-family: monospace;
  text-align: center;
  font-size: 28px;
  border-radius: 0 0 50% 50%;
}

h1 {
  margin: 0;
  padding-top:24px;
  font-size: 36px;
  color: #FF857F;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
}

nav li {
    display: inline-block;
    margin-right: 8px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

li {
    margin-bottom: 10px;
    padding: 10px 32px 12px 32px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 4px 18px 0px #31314914;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  font-size: 24px;
  color: #FF857F;
  text-decoration: none !important;
}


nav a:hover {
  text-decoration: underline;
  color: #9C514E;
}


/* Main content styles */
main {
  font-size: 24px;
  /*text-align: left;*/
}

h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #9C514E;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

section {
  line-height: 28px;
  padding-top: 20px;
  padding-right: 400px;
  padding-bottom: 10px;
  padding-left: 400px;
  font-size: 20px;
}

.image-container{
  display: inline-block; 
  vertical-align: middle;
}

 .text-container{
   display: inline-block; 
   margin-left: 50px; 
   vertical-align: middle;
}  
  

/* Responsive styles */
/* mobile */
@media (max-width: 900px) {
    
    body {
        font-size: 16px;
    }

    div {
        width:80%;
    }

    h1 {
        line-height: 130%;
    }
     
    nav li {
      display: flex;
      margin-right: 0;
      margin-top: 20px;
      font-size: 36px;
      line-height: 36px;
    }

    li {
      margin-bottom: 20px;
      padding: 12px 24px;
      font-size: 20px;
      border-radius: 0;
    }
    
     section {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        font-size: 20px;
        text-align: center;
        line-height: 130%;
        width: 80%; /* set the width to 100% */
        display: flex; /* use flexbox */
        justify-content: center; /* center horizontally */
        flex-direction: column;
      }
  
  .image-container{
 display: flex; /* use flexbox */
        justify-content: center; /* center horizontally */
        flex-direction: column;
}

 .text-container{
 display: flex; /* use flexbox */
 justify-content: left; /* center horizontally */
 flex-direction: column;
   text-align: left;
 margin-top: 10px;
   width: 80%;
   margin: 0;
   padding: 0
}  
  
  h1 {
    padding-bottom: 10px;

}

