/* Global styles */
body {
  background-color: #FEE7D8;
  font-family: monospace;
  font-size: 16px;
  text-align: left;
}

a {
  color: #FF857F;
}


a:hover {
  text-decoration: none;
}

/* Header styles */
header {
  padding: 20px;
  background-color: #787474;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: monospace;
  text-align: center;
  font-size: 28px;
}

h1 {
  margin: 0;
  font-size: 32px;
  color: #FF857F;
  text-align: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
}

nav li {
    display: inline-block;
    margin-right: 8px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 28px;
}

li {
    margin-bottom: 10px;
    padding: 10px 32px 12px 32px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 4px 18px 0px #31314914;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  font-size: 24px;
}

/* Main content styles */
main {
  font-size: 20px;
  padding-top: 70px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 400px;
  text-align: left;
}

h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000000;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive styles
@media only screen and (max-width: 768px) {
  header {
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
    text-align: center;
  }
  
  nav li {
    display: block;
    margin: 0;
  }
} */
